<head>
    <title>pixr.es</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>

<section id="main">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
              <header>
                {{> title }}
              </header>
                <div class="photo-preview pagination-centered">
                    {{> progress}}
                    {{> image}}
                    <!-- btn options ends -->    
                </div>
                <!-- photo preview ends -->

                {{> upload}}
                {{> history}}
                {{> users}}

            </div>
            <!-- span12 ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- container ends -->
</section>
<!-- main section ends -->

{{> configure }}
{{> footer }}
</body>
