// I gather this file is a starting point for the project.
@import "bootstrap";
// Include responsive Bootstrap styles
@import "bootstrap-responsive";

@font-face {
    font-family: 'fontello';
    src: url("/font/fontello.eot");
    src: url("/font/fontello.eot?#iefix") format('embedded-opentype'), url("/font/fontello.woff") format('woff'), url("/font/fontello.ttf") format('truetype'), url("/font/fontello.svg#fontello") format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: 0.8; */
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - magrins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ic-gplus:before {
    content: '\2b';
}

/* '+' */
.ic-twitter:before {
    content: '\54';
}

/* 'T' */
.ic-facebook:before {
    content: '\66';
}

/* 'f' */
.ic-gmail:before {
    content: '\6d';
}

/* 'm' */
.ic-ccw:before {
    content: '\27f2';
}

/* '⟲' */
.ic-spin3:before {
    content: '\e832';
}

/* '' */
.ic-camera-1:before {
    content: '\e800';
}

/* '' */
.ic-camera:before {
    content: '📷';
}

/* '\1f4f7' */

.ic-spin3 {
    font-size: 100px;
    color: #3299b7;
    margin: 0 auto;
}

.ic-camera-1 {
    color: #fff;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    background: url("/img/clouds.png") repeat-x left bottom #E0EEF4;
    background-attachment: fixed;
}

.lead {
    padding: 0 10px 10px 0;
    font-size: 20px;
}

.btn-xlarge {
    padding: 21px 31px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-custom {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    width: 80%;
    margin: 0 auto;
}

.btn-container {
    margin: 60px 0;
}

.btn-footer {
    text-align: center;
    i { color: #333333; }
}

.photo-preview {
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-options {
    margin-top: 20px;
}

code {
    padding: 8px 16px;
    color: #333;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    white-space: nowrap;
}

#main {
    height: 100%;
    .container {
        p {
            text-align: center;
            font-weight: 300;
        }
        h2 {
            text-align: center;
            font-weight: 300;
            line-height: 140%;
            color: #333;
        }
        .text-warning {
            font-size: 20px;
        }
    }
}

.pHistory {
    img {
        cursor: pointer;
    }
}

.pConfigure {
    text-align: center;
}

#choose {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

#canvas {
    display: block;
    width: 600px;

}

#loading {
    margin: 0 auto;
    text-align: center;
}

#url {
    margin-top: 40px;
}

#share-buttons {
    text-align: center;
    margin: 40px 0;
}

#share-buttons a {
    font-size: 18px;
}

@media all and (max-width: 220px) {
    header {
        display: none;
    }
    .pHistory {
        img {
            margin: 5px 0px 0px 5px;
        }
        h2 {
            display: none;
        }
    }

    .lead {
        font-size: 14px;
    }

    .loginFrame {
        width: 85%;
        margin: 40px auto 10px auto;
    }
}


