<template name="footer">
  {{# unless frame}}
    {{# if currentUser.profile.approved }}
    <footer class='btn-footer'>
      <div class="btn-group">
          <button class="btn btn-home"><i class="ic-camera-1"></i></button>
          <button class="btn btn-history">History</button>
          <button class="btn btn-users">Users</button>
          <button class="btn btn-logout">Logout</button>
      </div>
     </footer>
    {{/if}}
  {{/unless}}
</template>
