<template name="history">

    {{# if history }}
      <section class="pHistory">
        <h2>History</h2>
        {{#each images}}
            <img class="img-polaroid" src="{{image}}" width="200" alt="" />
        {{/each}}
      </section>
    {{/if}}
    {{# if frame }}
      {{# unless user }}
         <button class="btn btn-block btn-info loginFrame"><i class="ic-twitter"></i> Connect </button>
        <p class=lead>to {{url}}</p>
      {{/unless}}
    {{/if}}

</template>
