<template name="image">
    {{#if img}}
        {{#if image}}
            <img class="img-polaroid" src="{{img}}" alt="" />
            <p><code>{{img_url}}</code></p>
        {{> share}}
        {{/if}}
    {{ else }}
        <!--<h2>Image not found!</h2>-->
    {{/if}}
</template>
