<template name="share">
    <div id="share-buttons">
        <a class="btn btn-info" id="btn-facebook" href="#"><i class="ic-facebook"></i></a>
        <a class="btn btn-info" id="btn-twitter" href="#"><i class="ic-twitter"></i></a>
        <a class="btn btn-info" id="btn-gplus" href="#"><i class="ic-gplus"></i></a>
    </div>
    <!-- share buttons ends -->
</template>
