<template name="title">
    <h2><a href="/"><strong>pixr</strong>.es{{# if url}}://</a>{{url}}{{else}}</a>{{/if}}</h2>
    <p class="lead">Your fastest mobile photo sharing {{thing}}!</p>
</template>
