<template name="upload">

    {{#if state }}
        <div class="btn-container">
        {{#if user}}
            {{#if approved}}
                <input type="file" id="choose" class="btn" accept="image/*;capture=camera" />
                <button id="take" class="btn btn-xlarge btn-block btn-info btn-custom">
                    {{# if image }}
                        <i class="ic-ccw"></i> Another Photo
                    {{ else }}
                        <i class="ic-camera-1"></i> Take Photo
                    {{/if}}
                </button>
            {{/if}}
        {{else}}
            <button class="btn btn-xlarge btn-block btn-info btn-custom l-twitter"><i class="ic-twitter"></i> Login with Twitter</button>
        {{/if}}
        {{# if pending}} <p class="text-warning">Account pending activation...</p> {{/if}}
        </div>
    {{/if}}
</template>
