<template name="users">
    {{# if users}}
        <h2>Approved Users</h2>
        {{#each approvedUsers}}
            <a href="http://twitter.com/{{profile.screenName}}">@{{profile.screenName}}</a>
            {{# unless profile.admin}}<button class="delete">X</button>{{/unless}} ::
        {{/each}}

         {{# if requestedUsers}}

            <h2>Requested Users</h2>
            {{#each requestedUsers}}
                <a href="http://twitter.com/{{profile.screenName}}">@{{profile.screenName}}</a>
                <button class="approve">^</button>
                <button class="delete">X</button> ::
            {{/each}}
        {{/if}}
    {{/if}}
</template>
